POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=eventticket

DATABASE_URL=postgresql://postgres:postgres@database:5432/eventticket
FRONTEND_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL=http://localhost:4000
TICKETMASTER_API_KEY="o seu"
JWT_ACCESS_SECRET="gere uma"
JWT_REFRESH_SECRET="gere uma"
NODE_ENV=production
PORT=4000
FRONTEND_URL=http://localhost:3000